page-final {
  ion-content {
    background-color: color($colors,primary)!important;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%
  }
  .text {
    border: 1px solid color($colors,gold);
    font-size: 1.5em;
    text-align: center;
    padding: 10px;
    color: color($colors,gold)
  }
}
