<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      <span style="color: #ebc28a">{{appName}}</span>
    </ion-title>
  </ion-navbar>
  <ion-toolbar color="primary">
    <ion-title>Active Quests</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  <ion-card *ngFor="let quest of quests" (click)="openQuest(quest)">
    <img src="{{quest.imgUrl}}"/>
    <div class="card-title">{{quest.title}}</div>
    <div class="card-subtitle">Start</div>
    <div class="card-lock">
        <img *ngIf="!quest.locked" src="assets/imgs/lock-open.png">
        <img *ngIf="quest.locked" src="assets/imgs/lock-close.png">
    </div>
  </ion-card>
</ion-content>
